apps/benchmark/app/__pycache__
application/app/__pycache__
*.tfstate
plan
*.backup
terraform/gcp/key.json
terraform/.terraform
terraform/azure/.terraform
terraform/gcp/.terraform
terraform/aws/.terraform
execution.log
tests/performance/metrics
tests/performance/__pycache__
tests/performance/saved_metrics
analysis/__pycache__
