apps/benchmark/app/__pycache__
application/app/__pycache__
*.tfstate
plan
*.backup
terraform/gcp/key.json
terraform/.terraform
terraform/azure/.terraform
terraform/gcp/.terraform
terraform/aws/.terraform
execution.log
